#root {
    display: contents;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
    margin: 0;
    background-color: tomato;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: black;
    color: white;
}

header>h1 {
    font-size: 30px;
}

header>nav {
    display: flex;
    list-style: none;
    width: 33%;
    justify-content: space-around;
}

header>nav>li {
    padding: 10px;
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}

#ratings {
    width: 90%;
    min-height: 33vh;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#ratings h4 {
    font-size: 20px;
}

#ratings table {
    border-radius: 5px;
    margin-top: 10px;
    font-family: Arial, sans-sarif;
    border-collapse: collapse;
    width: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbjOHCw2pwjjUvQW4HsEctQyfzWcDmMAjr4ay6xj_zEZVpJQjm_JPdlkb3Lv64vVqRrQ0&usqp=CAU);
}

th,
td {
    border: 1px solid #aaaaaa;
    text-align: left;
    padding: 8px;
}

th {
    background-color: black;
    color: white;
}